body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
  }
  
  /* // etc */
  
  header {
    background: lightpink;
    padding: 2rem;
  }
  
  main {
    background: coral;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
  }
  
  body {
    font-family: system-ui, sans-serif;
  }