body {
    display: grid;
    height: 100vh;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  /* // etc */
  
  div {
    display: grid;
    place-items: center;
    background: lightpink;
  }
  
  body {
    font-family: system-ui, sans-serif;
  }